:root {
  --color-background: #ffffff;
  --color-surface: #f5f5f5;
  --color-text: #2d2d2d;
  --color-primary: #f54e00;
  --color-secondary: #35416b;
  --color-accent: #e5e7ef;
  --color-border: #e5e7ef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1d1f27;
    --color-surface: #262933;
    --color-text: #ffffff;
    --color-primary: #f54e00;
    --color-secondary: #8b8ea0;
    --color-accent: #35416b;
    --color-border: #35416b;
  }
}
