:root,
:root[data-theme="light"] {
  --color-background: #fff;
  --color-surface: #f5f5f5;
  --color-text: #2d2d2d;
  --color-primary: #00b4ff;
  --color-secondary: #06c;
  --color-accent: #e0f4ff;
  --color-border: #e5e7ef;
  --color-logo-text: #2d2d2d;
  --color-logo-shadow: #fff;
}

:root[data-theme="dark"] {
  --color-background: #1d1f27;
  --color-surface: #262933;
  --color-text: #fff;
  --color-primary: #00b4ff;
  --color-secondary: #66d9ff;
  --color-accent: #036;
  --color-border: #35416b;
  --color-logo-text: #fff;
  --color-logo-shadow: #000;
}
